PORT=4444
REACT_APP_HOSTNAME=http://localhost:3001
REACT_APP_BASE_URL=http://localhost:3001/api
# REACT_APP_HOSTNAME=https://web-dev-be-production.up.railway.app
# REACT_APP_BASE_URL=https://web-dev-be-production.up.railway.app/api