.ant-modal-content {
  height: 100%;
  display: flex;
  max-height: calc(100vh - 200px);
  flex-direction: column;
}
.ant-btn::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  display: none;
  background: #fff;
  border-radius: inherit;
  opacity: 0.35;
  transition: opacity 0.2s;
  content: "";
  pointer-events: none;
}
.btn {
  height: fit-content;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 4px;
}
.ant-btn1 {
  height: fit-content;

  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 4px;
}
.ant-btn1:hover,
.ant-btn1:focus {
  color: #1890ff;
  border-color: #1890ff;
}
