@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  svg {
    vertical-align: baseline;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html {
  height: 100%;
  min-height: 100%;
} */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Source San Pro", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100%;
  min-height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New ",
    monospace;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.menu-item {
  @apply block pl-5 py-4 text-left w-full transform duration-500;
}
.menu-item:hover {
  @apply bg-blue-600;
}
.sub-item {
  @apply group-focus:block hidden pt-2 bg-blue-600 py-2 text-left pl-3 transform transition-all duration-500 border-l border-blue-300 border-opacity-70;
}
.sub-item:hover {
  @apply bg-blue-400;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
